<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script
      src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    ></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>


    <title>Biblioteca</title>
    <style>
      body { margin: 0; padding: 0; background-color: #69939a; height: 100vh; }
      #login .container #login-row #login-column #login-box { margin-top: 120px;
      max-width: 600px; height: 400px; border: 1px solid #9C9C9C;
      background-color: #EAEAEA; } #login .container #login-row #login-column
      #login-box #login-form { padding: 20px; } #login .container #login-row
      #login-column #login-box #login-form #register-link { margin-top: -85px; }
    </style>
  </head>

  <body>
    <div id="login">
      <div class="container">
        <div
          id="login-row"
          class="row justify-content-center align-items-center"
        >
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              
              <form id="login-form" class="form" action="/register" method="post">

                <h3 class="text-center text-info">Registrar</h3>
                
                 <div class="form-group">
                  <label for="nome" class="text-info">Nome:</label><br
                  />
                  <input
                    type="text"
                    name="nome"
                    id="nome"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="email" class="text-info">E-mail:</label><br
                  />
                  <input
                    type="text"
                    name="email"
                    id="email"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="senha" class="text-info">Senha:</label><br
                  />
                  <input
                    type="text"
                    name="senha"
                    id="senha"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <br />
                  <input
                    type="submit"
                    name="submit"
                    class="btn btn-info btn-md"
                    value="submit"
                  />
                </div>
                <div id="register-link" class="text-right">
                  <a href="/" class="text-info">Já tem cadastro?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>